<div id="createform">
	<h2 class="label_create">Create</h2>
	<form>
		<p>
			<label for="firstName"><span class="label_firstName">First name</span>:</label>
			<input type="text" class="required" id="inputFirstName" name="firstName" />
		</p>
		<p>
			<label for="lastName"><span class="label_lastName">Last	name</span>:</label>
			<input type="password" class="required" id="inputLastName" name="lastName" />
		</p>
		<p class="asterisk">
			<span class="label_footnote">All fields marked with an asterisk (*) are required.</span>
		</p>
		<p id="createSubmit">
			<input class="label_submit" type="submit" value="Submit" />
		</p>
	</form>
</div>